.list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.partner {
  flex: 1;
  background-color: #fff;
  border: 1px solid red;
  border-radius: 5px;
  padding: 15px;

  &-info > p {
    margin-bottom: 5px;
  }
}
