.list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0 20px;
  margin-bottom: 50px;
}

.partner {
  flex: 1;
  background-color: #fff;

  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  text-decoration: none;
  color: #000;

  &-heading {
    font-weight: 700;
    margin-bottom: 20px;
  }

  &-info > p {
    margin-bottom: 10px;
  }
}
