.home {
  // display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  &-input[type='file'],
  &-partners {
    cursor: pointer;
    max-width: 200px;
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #bbb;
  }

  &-btn {
    cursor: pointer;
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #bbb;
    
  }
}

.row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 10px;
  justify-content: center;
}

.row>* {
  width: 100%;
}